# This is a basic workflow to help you get started with Actions

name: Build & Release

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions: write-all
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Compile Business
        uses: LiHRaM/tectonic-nix@v1.0
        with: 
          file: business/main.tex
          
      - name: Compile HCI
        uses: LiHRaM/tectonic-nix@v1.0
        with: 
          file: hci/humancomputer.tex
          
      - name: Release

        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          draft: false
          title: "Notes Release"
          files: |
            business/main.pdf
            hci/humancomputer.pdf

          
        
